# This file will need to be renamed to ".gitconfig" before use
[user]
  name = "Cynthia Fox"
  email = "cyntheticfox@gh0st.sh"
  signingkey = "5960278CE235F821!"
[gpg]
  program = "\"C:\\Program Files\\Git\\usr\\bin\\gpg.exe\""
[credential]
  helper = cache --timeout 600
[commit]
  gpgsign = true
[help]
  autocorrect = 10
[core]
  autocrlf = true
  editor = "nvim"
  excludesFile = ".gitignore_global"
  filemode = false
  hideDotFiles = true
  ignoreCase = true
  sshCommand = "\"C:\\Program Files\\Git\\usr\\bin\\ssh.exe\""
[init]
  defaultBranch = "main"
[pull]
  ff = "only"
[alias]
  l = "log --abbrev-commit --pretty=oneline"
  lg = "log --pretty=format:'%h %s' --graph"
  state = "status -sb --"
  unstage = "reset HEAD --"
[gitflow "branch"]
  master = "main"
  develop = "dev"
[gitflow "prefix"]
  feature = "feature/"
  bugfix = "patch/"
  release = "release/"
  hotfix = "hotfix/"
  support = "support/"
  versiontag = "v"
[filter "lfs"]
  smudge = "git-lfs smudge -- %f"
  process = "git-lfs filter-process"
  required = true
  clean = "git-lfs clean -- %f"
